region                   = "{{ aws_region }}"
account                  = "{{ account }}"
environment              = "{{ environment }}"
service                  = "{{ service }}"
ecs_service_name         = "{{ ecs_service_name }}"
terraform_current_version = "{{ terraform_current_version }}"
aws_provider_version     = "{{ aws_provider_version }}"
aws_source               = "{{ aws_source }}"
function_name            = "{{ function_name }}"
lambda_zip_file          = "../../../function.zip"
lambda_s3_key            = "deployment.zip"
lambda_s3_folder         = "ecs-task-checker/artifacts/"
lambda_s3_bucket         = "{{ lambda_s3_bucket }}"
owner                    = "{{ owner }}"
log_retention_in_days    = 14
ecsmonitorZip            = "pkg/ecsmonitor.zip"
